$blue: #00308B;
$yellow: #ffe900;
$yellow2: #e2e43a;
$font: "Heebo";
$textfont: "CallingCodeRegular";


@font-face {
    font-family: $textfont;
    src: url('../assets/fonts/CallingCode-Regular.ttf') format('truetype');
}


body {
    font-family: 'Heebo', sans-serif;
    background-color: $blue;
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    padding: 45px 100px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;

    .leftside {
        width: 50%;
    }

    .rightside {
        width: 50%;
        text-align: right;
    }

    img {
        height: 34px;
        margin: 3px 0;
    }

    a {
        background: $blue;
        position: relative;
        display: inline-block;
        text-decoration: none;
        box-sizing: border-box;
        text-transform: uppercase;
        border: 2px solid $yellow;
        color: $yellow;
        margin-left: 30px;
        span {
            margin: -2px;
            padding: 10px;
            color: $yellow;
            font-size: 15px;
            background: $blue;
            letter-spacing: 3px;
            display: inline-block;
            box-sizing: border-box;
            font-family: $textfont;
            border: 2px solid $yellow;
            transition: all 400ms;
        }

        &:hover {
            span {
                color: $blue;
                background: $yellow;
                transform: translate(-8px, 8px);
            }
        }
    }
}

main {
    padding-left: 100px;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: row-reverse;

    h1 {
        font-size: 120px;
        letter-spacing: 7px;
        line-height: 110px;
        color: $yellow;
        font-family: $font;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        margin-top: 50px;
        margin-right: 20px;
    }

    .image_background {
        // width: 50vw;
    }

    .date {
        display: flex;
        margin-right: 30px;
        flex-direction: row-reverse;
        p {
            font-size: 25px;
            line-height: 30px;
            color: #ffffff;
            font-family: $textfont;
            text-transform: uppercase;
            text-align: left;
        }
    }

    img {
        max-width: 100%;
        box-sizing: border-box;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 45px 100px;
    box-sizing: border-box;
    .sponsor {
        text-align: right;
        span {
            color: $yellow;
            font-size: 18px;
            margin-right: 10px;
            letter-spacing: 2px;
            display: inline-block;
            vertical-align: middle;
            font-family: $textfont; 
            text-transform: uppercase;
        }
        img {
            vertical-align: middle;
        }
    }
}